{
  "gameDirectory": "C:\\Program Files\\EA Games\\FIFA 13\\Game",
  "gameVersion": "runtime-detected",
  "cardsDllSha256": "",
  "locale": "eng_us",
  "python": "python",
  "fridaSitePackages": "",
  "gameRuntimeVersion": ""
}
